/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bienvenue{
    border-bottom: thin lightgrey solid;
    display: flex;
    justify-content : center

}
.main{
    text-align : center
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Page titles */
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

/* Graphs */
.dash-graph {
    margin: 20px auto;
    max-width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    justify-content: center;
}
